# Herwig run products
LHC-Instanton*.log
LHC-Instanton*.out
LHC-Instanton*.run
LHC-Instanton*.tex
LHC-Instanton*.yoda
/test1/

# Compiled and plotted Rivet products
*.so
Rivet/plots/
/plots/
/plots-*/
